@page "/user/register"
@inject IClient httpClient

<h3>Register New Account</h3>

<div class="card-body">
    <EditForm Model="RegistrationModel" OnValidSubmit="HandleRegistration">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="email">Email</label>
            <InputText class="form-control" @bind-Value="RegistrationModel.Email" />
        </div>
        <div class="form-group">
            <label for="password">First Name</label>
            <InputText class="form-control" @bind-Value="RegistrationModel.FirstName" />
        </div>
        <div class="form-group">
            <label for="password">Last Name</label>
            <InputText class="form-control" @bind-Value="RegistrationModel.LastName" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText class="form-control" @bind-Value="RegistrationModel.Password" />
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

    </EditForm>
</div>

@code {
        UserDto RegistrationModel = new UserDto();

        private async Task HandleRegistration()
        {
            RegistrationModel.Role = "User";

            await httpClient.RegisterAsync(RegistrationModel);

        }
}
