@page "/authors/delete/{id:int}"
@inject IAuthorService authorService
@inject RemoteNavigationManagerNavigationManager

<h3>Confirm Delete</h3>

<button class="btn btn-primary" @onclick="backToList">Back</button>

<button class="btn btn-danger" @onclick="DeleteAuthor">Confirm</button>

@code {

    private AuthorRealyOnlyDto author = new AuthorRealyOnlyDto();

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await authorService.GetAuthor(id);
        if (response.Success)
        {
            author = response.Data;
        }
        
    }
    private async Task DeleteAuthor()
    {
        var response = await authorService.DeleteAuthor(id);
        if (response.Success)
        {
            NavigationManager.NavigateTo("/authors");
        }
        else
        {
            Console.WriteLine(response.Message);
        }
    }

    private void backToList()
    {
        NavigationManager.NavigateTo("/authors");
    }
}
